
<app-navbar></app-navbar>
<!-- <app-register></app-register> -->
<!-- <app-navbar></app-navbar> -->
<!-- 

<body > -->
<!-- <div class="container-fluid">
    <div class="row">
        <header class="navbar col-sm-12 border-less bg-transparent text-black" style="margin-top: 2%;">
            <h5  class="nav-brand fw-bold  offset-1 "style="font-family: Arial;color:black "><em>Munya tech</em> </h5>
    <nav class="container justify-content-start ">
        
        <ul class="navbar-nav d-flex flex-row gap-4 offset-3 text-black">
            <li><a appHighlight routerLink="/Home">Home</a></li>
            <li><a appHighlight  routerLink="/About">About</a></li>
            <li><a appHighlight routerLink="/Hire Me">Hire Me</a></li>
            <li><a appHighlight routerLink="/Contact">Contact</a></li>

        </ul>

        <input type="text" name="search" class="offset-4 border-2 " placeholder="Search" style="border-radius: 18rem;width: 10%;margin-right: 2rem; border-color: black;color: black;">

    </nav>
</header>
</div>
<table class="table table-borderless">

    <tbody>


<tr class="col-md-7 mt-4">
    <td class="text-center">
        <h1 class="h1 text-black  fw-bold ">The Mortgage <Br>Calculator</h1>
            <p>Get an early release to the software,enter<br>your email address down below to get the<br>latest in news and</p>
        </td>
    </tr>
<div>
    <tr class="col-md-7 mt-8 ">
        <td >
            
          <input type="email" for="email" placeholder="Email Address"style="margin-top:8rem;margin-left:48rem;border-radius:5px">
          <button style="background-color:black ;size: 10%;color: white;">Sign Up</button>
        </td>
    </tr>
    </div>
        
    </tbody>


</table>
</div> -->

<!-- </body> -->
