body{
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/866975978/photo/jesus-christ-cross-on-a-background-with-dramatic-sky-mountain-sunset.jpg?s=2048x2048&w=is&k=20&c=OayBtIxOoFYPtNk-dC12yEPry8redAE7t88eA5NrdOw=);
    background-repeat: no-repeat;
    background-size: cover;

}