 <router-outlet></router-outlet>

<!-- 957315183743-t95nr2lj8citvpouc0akp5tloc0p3tbv.apps.googleusercontent.com  -->
 <!-- <hr>  <footer class="bg-primary container-fluid fixed-bottom border-less">
 
  <div  class="row align-items-center">
    <p class=" text-primary offset-5 fw-bold">
        ONLINE NOTICEBOARD
        
    </p>
    <address>
      <Strong>TAMAYI INC</Strong><br>
      HIT.AC.ZW<br>
      <ABBr class="fa fa-contact">P:</ABBr>078 064 9692
      
        </address>
    <p class="offset-3">
        contact us:
        <i class="fa fa-facebook fa-2x m-3 text-primary"></i>
        <i class="fa fa-instagram fa-2x m-3 text-warning"></i>
        <i class="fa fa-twitter fa-2x m-3 text-primary"></i>
        <i class="fa fa-youtube fa-2x m-3 text-danger"></i>
        <i class="fa fa-whatsapp fa-2x m-3 text-warning"></i>
    </p>
    <p class="offset-4 col-5">
        <marquee behavior="scroll" direction="">Powered By: Munya Technologies &copy; 2023. All Rights Reserved</marquee>

    </p>
  </div>
</footer> -->